aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
alembic==1.10.3
aniso8601==9.0.1
anyio==3.6.2
apache-airflow==2.5.3
apache-airflow-providers-common-sql==1.4.0
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-google==8.9.0
apache-airflow-providers-http==4.3.0
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-sqlite==3.3.1
apipkg==3.0.1
apispec==3.3.2
appdirs==1.4.4
argcomplete==3.0.5
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
astroid==2.15.1
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autocommand==2.2.2
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.2
black==22.10.0
bleach==6.0.0
blinker==1.6
btrfsutil==6.2.2
CacheControl==0.12.11
cachelib==0.9.0
cachetools==5.3.0
catfish==4.16.4
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
cheroot==9.0.0
CherryPy==18.8.0
click==8.1.2
clickclick==20.10.2
colorama==0.4.6
colorlog==4.8.0
comm==0.1.3
commonmark==0.9.1
ConfigUpdater==3.1.1
connexion==2.14.2
contextlib2==21.6.0
coverage==6.4.4
cron-descriptor==1.2.35
croniter==1.3.10
cryptography==39.0.2
Cython==0.29.33
db-dtypes==1.1.1
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.6
distlib==0.3.6
distro==1.8.0
dnspython==2.3.0
docopt==0.6.2
docutils==0.19
elasticsearch==7.9.0
email-validator==1.3.1
entrypoints==0.4
evdev==1.6.1
exceptiongroup==1.1.1
execnet==1.9.0
executing==1.2.0
fastjsonschema==2.16.3
filelock==3.8.2
flake8==4.0.1
Flask==2.2.2
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-RESTful==0.3.9
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
frozenlist==1.3.3
future==0.18.2
gcloud-aio-auth==4.2.1
gcloud-aio-bigquery==6.3.0
gcloud-aio-storage==8.2.0
google-ads==18.0.0
google-api-core==2.8.2
google-api-python-client==1.12.11
google-auth==2.16.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-cloud-aiplatform==1.16.1
google-cloud-appengine-logging==1.1.3
google-cloud-audit-log==0.2.4
google-cloud-automl==2.8.0
google-cloud-bigquery==2.34.4
google-cloud-bigquery-datatransfer==3.7.0
google-cloud-bigquery-storage==2.14.1
google-cloud-bigtable==1.7.3
google-cloud-build==3.9.0
google-cloud-compute==0.7.0
google-cloud-container==2.11.1
google-cloud-core==2.3.2
google-cloud-datacatalog==3.9.0
google-cloud-dataflow-client==0.5.4
google-cloud-dataform==0.2.0
google-cloud-dataplex==1.1.0
google-cloud-dataproc==5.0.0
google-cloud-dataproc-metastore==1.6.0
google-cloud-dlp==1.0.2
google-cloud-kms==2.12.0
google-cloud-language==1.3.2
google-cloud-logging==3.2.1
google-cloud-memcache==1.4.1
google-cloud-monitoring==2.11.0
google-cloud-orchestration-airflow==1.4.1
google-cloud-os-login==2.7.1
google-cloud-pubsub==2.13.5
google-cloud-redis==2.9.0
google-cloud-resource-manager==1.6.0
google-cloud-secret-manager==1.0.2
google-cloud-spanner==1.19.3
google-cloud-speech==1.3.4
google-cloud-storage==2.8.0
google-cloud-tasks==2.10.1
google-cloud-texttospeech==1.0.3
google-cloud-translate==1.7.2
google-cloud-videointelligence==1.16.3
google-cloud-vision==1.0.2
google-cloud-workflows==1.7.1
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.56.4
graphviz==0.20.1
greenlet==2.0.2
grpc-google-iam-v1==0.12.4
grpcio==1.53.0
grpcio-gcp==0.2.2
grpcio-status==1.48.2
gufw==22.4.0
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.22.0
httpx==0.23.3
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
inflect==6.0.2
inflection==0.5.1
iniconfig==1.1.1
ipykernel==6.22.0
ipython==8.11.0
ipython-genutils==0.2.0
isodate==0.6.1
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaraco.collections==3.5.2
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json-merge-patch==0.2
json5==0.9.13
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_packaging==0.12.3
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab==3.6.2
jupyterlab-pygments==0.2.2
jupyterlab_server==2.21.0
keyutils==0.6
lazy-object-proxy==1.9.0
lensfun==0.3.3
LibAppArmor==3.1.3
lightdm-gtk-greeter-settings==1.2.2
linkify-it-py==2.0.0
lit==15.0.7.dev0
lockfile==0.12.2
logutils==0.3.5
looker-sdk==23.4.0
louis==3.25.0
lxml==4.9.2
Mako==1.2.4
manjaro-sdk==0.1
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib-inline==0.1.6
mccabe==0.6.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
menulibre==2.2.3
mistune==2.0.5
mock==3.0.5
more-itertools==9.1.0
msgpack==1.0.4
mugshot==0.4.3
multidict==6.0.4
mypy-extensions==0.4.3
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
nest-asyncio==1.5.6
netsnmp-python==1.0a1
nftables==0.1
nose==1.3.7
notebook==6.5.3
notebook_shim==0.2.2
npyscreen==4.10.5
nspektr==0.4.0
numpy==1.23.1
oauthlib==3.2.2
ordered-set==4.1.0
packaging==21.3
pacman-mirrors==4.23.2
pandas==1.4.3
pandas-gbq==0.17.9
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pbr==5.11.1
pecan==1.4.2
pendulum==2.1.2
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkgconfig==1.5.5
platformdirs==2.5.2
plotly==5.9.0
pluggy==1.0.0
ply==3.11
pooch==1.7.0
portend==3.1.0
prettytable==3.6.0
prison==0.2.1
progress==1.6
prometheus-client==0.15.0
prompt-toolkit==3.0.38
proto-plus==1.19.6
protobuf==3.20.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py4j==0.10.9.5
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.7
pydata-google-auth==1.7.0
pyflakes==2.4.0
Pygments==2.14.0
PyGObject==3.44.1
PyJWT==2.6.0
pylint==2.17.1
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyrsistent==0.19.3
PySide6==6.4.3
pysmbc==1.0.23
pyspark==3.3.0
pytest==7.1.3
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-xdist==2.5.0
python-daemon==3.0.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-magic==0.4.27
python-nvd3==0.15.0
python-slugify==8.0.1
pytz==2022.7.1
pytzdata==2020.1
pyxdg==0.28
PyYAML==6.0
pyzmq==24.0.1
reportlab==3.6.12
repoze.lru==0.7
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
requests-unixsocket==0.3.0
resolvelib==0.9.0
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3987==1.3.8
rich==13.3.3
Routes==2.5.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==1.2.2
scipy==1.10.1
Send2Trash==1.8.0
setproctitle==1.3.2
shiboken6==6.4.3
shiboken6-generator==6.4.3
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4
Sphinx==6.1.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.47
sqlalchemy-bigquery==1.6.1
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.40.0
sqlparse==0.4.3
stack-data==0.6.2
systemd-python==235
tabulate==0.9.0
team==1.0
tempora==5.2.1
tenacity==8.0.1
termcolor==2.2.0
terminado==0.17.1
testpath==0.6.0
text-unidecode==1.3
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
traitlets==5.9.0
trove-classifiers==2023.3.10
typing_extensions==4.5.0
uc-micro-py==1.0.1
udiskie==2.4.2
ufw==0.36.1
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.13
validate-pyproject==0.12.2.post1.dev0+g2940279.d20230328
virtualenv==20.17.1
waitress==2.1.2
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.5.1
WebTest==3.0.0
Werkzeug==2.2.3
wrapt==1.14.1
WTForms==3.0.1
xmlsec==1.3.13
yarl==1.8.2
zc.lockfile==2.0
zipp==3.15.0
aiofiles==22.1.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.18.0
alabaster==0.7.13
alembic==1.10.2
amqp==5.1.1
aniso8601==9.0.1
anyio==3.6.2
apache-airflow==2.5.2
apache-airflow-providers-celery==3.1.0
apache-airflow-providers-common-sql==1.3.4
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-google==8.11.0
apache-airflow-providers-http==4.2.0
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-sqlite==3.3.1
apipkg==3.0.1
apispec==3.3.2
apparmor==3.1.3
appdirs==1.4.4
application-utility==1.3.2
argcomplete==3.0.5
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
astroid==2.15.1
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autocommand==2.2.2
Babel==2.12.1
backcall==0.2.0
backoff==1.10.0
bcrypt==4.0.1
beautifulsoup4==4.11.2
billiard==3.6.4.0
black==22.10.0
bleach==6.0.0
blinker==1.5
btrfsutil==6.2.2
CacheControl==0.12.11
cachelib==0.9.0
cachetools==5.3.0
catfish==4.16.4
cattrs==22.2.0
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
cheroot==9.0.0
CherryPy==18.8.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clickclick==20.10.2
colorama==0.4.6
colorlog==4.8.0
comm==0.1.3
commonmark==0.9.1
ConfigUpdater==3.1.1
connexion==2.14.2
contextlib2==21.6.0
coverage==6.4.4
cron-descriptor==1.2.35
croniter==1.3.8
cryptography==39.0.2
Cython==0.29.33
db-dtypes==1.1.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.1.1
distlib==0.3.6
distro==1.8.0
dnspython==2.3.0
docopt==0.6.2
docutils==0.19
elasticsearch==7.9.0
email-validator==1.3.1
entrypoints==0.4
evdev==1.6.1
exceptiongroup==1.1.1
execnet==1.9.0
executing==1.2.0
fastjsonschema==2.16.3
filelock==3.8.2
flake8==4.0.1
Flask==2.2.3
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-RESTful==0.3.9
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
flower==1.2.0
fqdn==1.5.1
frozenlist==1.3.3
future==0.18.3
gcloud-aio-auth==4.2.0
gcloud-aio-bigquery==6.3.0
gcloud-aio-storage==8.1.0
google-ads==18.0.0
google-api-core==2.8.2
google-api-python-client==1.12.11
google-auth==2.17.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-cloud-aiplatform==1.16.1
google-cloud-appengine-logging==1.1.3
google-cloud-audit-log==0.2.4
google-cloud-automl==2.8.0
google-cloud-bigquery==2.34.4
google-cloud-bigquery-datatransfer==3.7.0
google-cloud-bigquery-storage==2.14.1
google-cloud-bigtable==2.11.1
google-cloud-build==3.9.0
google-cloud-compute==0.7.0
google-cloud-container==2.11.1
google-cloud-core==2.3.2
google-cloud-datacatalog==3.9.0
google-cloud-dataflow-client==0.5.4
google-cloud-dataform==0.2.0
google-cloud-dataplex==1.1.0
google-cloud-dataproc==5.0.0
google-cloud-dataproc-metastore==1.6.0
google-cloud-dlp==3.7.1
google-cloud-kms==2.12.0
google-cloud-language==1.3.2
google-cloud-logging==3.2.1
google-cloud-memcache==1.4.1
google-cloud-monitoring==2.11.0
google-cloud-orchestration-airflow==1.4.1
google-cloud-os-login==2.7.1
google-cloud-pubsub==2.13.5
google-cloud-redis==2.9.0
google-cloud-resource-manager==1.6.0
google-cloud-secret-manager==1.0.2
google-cloud-spanner==1.19.3
google-cloud-speech==1.3.4
google-cloud-storage==2.7.0
google-cloud-tasks==2.10.1
google-cloud-texttospeech==1.0.3
google-cloud-translate==1.7.2
google-cloud-videointelligence==1.16.3
google-cloud-vision==1.0.2
google-cloud-workflows==1.7.1
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.56.4
graphviz==0.20.1
greenlet==2.0.2
grpc-google-iam-v1==0.12.4
grpcio==1.53.0
grpcio-gcp==0.2.2
grpcio-status==1.48.2
gufw==22.4.0
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.21.0
httpx==0.23.3
humanize==4.6.0
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
inflect==6.0.2
inflection==0.5.1
iniconfig==1.1.1
ipykernel==6.22.0
ipython==8.11.0
ipython-genutils==0.2.0
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaraco.collections==3.5.2
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json-merge-patch==0.2
json5==0.9.13
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.3.4
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_packaging==0.12.3
jupyter_server==2.5.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.2
jupyterlab-pygments==0.2.2
jupyterlab_server==2.21.0
keyutils==0.6
kombu==5.2.4
lazy-object-proxy==1.9.0
lensfun==0.3.3
LibAppArmor==3.1.3
lightdm-gtk-greeter-settings==1.2.2
linkify-it-py==2.0.0
lit==15.0.7.dev0
lockfile==0.12.2
logutils==0.3.5
looker-sdk==23.2.0
louis==3.25.0
lxml==4.9.2
Mako==1.2.4
manjaro-sdk==0.1
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib-inline==0.1.6
mccabe==0.6.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
menulibre==2.2.3
mistune==2.0.5
mock==3.0.5
more-itertools==9.1.0
msgpack==1.0.4
mugshot==0.4.3
multidict==6.0.4
mypy-extensions==0.4.3
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
nest-asyncio==1.5.6
netsnmp-python==1.0a1
nftables==0.1
nose==1.3.7
notebook==6.5.3
notebook_shim==0.2.2
npyscreen==4.10.5
nspektr==0.4.0
numpy==1.21.6
oauthlib==3.2.2
ordered-set==4.1.0
packaging==21.3
pacman-mirrors==4.23.2
pandas==1.3.5
pandas-gbq==0.17.9
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pbr==5.11.1
pecan==1.4.2
pendulum==2.1.2
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkgconfig==1.5.5
platformdirs==2.5.2
plotly==5.9.0
pluggy==1.0.0
ply==3.11
pooch==1.7.0
portend==3.1.0
prettytable==3.6.0
prison==0.2.1
progress==1.6
prometheus-client==0.16.0
prompt-toolkit==3.0.38
proto-plus==1.19.6
protobuf==3.20.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py4j==0.10.9.5
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.7
pydata-google-auth==1.7.0
pyflakes==2.4.0
Pygments==2.14.0
PyGObject==3.44.1
PyJWT==2.6.0
pylint==2.17.1
pyOpenSSL==23.1.1
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyrsistent==0.19.3
PySide6==6.4.3
pysmbc==1.0.23
pyspark==3.3.0
pytest==7.1.3
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-xdist==2.5.0
python-daemon==3.0.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-magic==0.4.27
python-nvd3==0.15.0
python-slugify==8.0.1
pytz==2023.3
pytzdata==2020.1
pyxdg==0.28
PyYAML==6.0
pyzmq==24.0.1
reportlab==3.6.12
repoze.lru==0.7
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
requests-unixsocket==0.3.0
resolvelib==0.9.0
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.3.3
Routes==2.5.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==1.2.2
scipy==1.10.1
Send2Trash==1.8.0
setproctitle==1.3.2
shiboken6==6.4.3
shiboken6-generator==6.4.3
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4
Sphinx==6.1.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.47
sqlalchemy-bigquery==1.6.1
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.40.0
sqlparse==0.4.3
stack-data==0.6.2
systemd-python==235
tabulate==0.9.0
team==1.0
tempora==5.2.1
tenacity==8.2.2
termcolor==2.2.0
terminado==0.17.1
testpath==0.6.0
text-unidecode==1.3
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
traitlets==5.9.0
trove-classifiers==2023.3.10
typing_extensions==4.5.0
uc-micro-py==1.0.1
udiskie==2.4.2
ufw==0.36.1
unicodecsv==0.14.1
uri-template==1.2.0
uritemplate==3.0.1
urllib3==1.26.15
validate-pyproject==0.12.2.post1.dev0+g2940279.d20230328
vine==5.0.0
virtualenv==20.17.1
waitress==2.1.2
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.5.1
WebTest==3.0.0
Werkzeug==2.2.3
wrapt==1.15.0
WTForms==3.0.1
xmlsec==1.3.13
y-py==0.6.0
yarl==1.8.2
ypy-websocket==0.8.4
zc.lockfile==2.0
zipp==3.15.0
